.boards {
  display: flex;
  flex-direction: row;
  width: auto;
  padding: 24px;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: #000;
  }

  &::-webkit-scrollbar-thumb {
    background: #f5f5f5;
    border: 2px solid #555555;
  }

  .handle {
    position: relative;
    cursor: move;
    top: 5px;
    left: 0;
  }
}

.cdk-drag-animating {
  transition: transform 300ms ease;
}

.boards.cdk-drop-list-dragging .cdk-drag {
  transition: transform 300ms ease;
}

.cdk-drag-placeholder {
  opacity: 0.2;
  border: 5px dashed gray;
  margin: 0 10px;
}

.board-button {
  margin: 10px;
}
