
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

// custom color
/* For use in src/lib/core/theming/_palette.scss */
$md-cxblue: (
    50 : #f4f9fd,
    100 : #e4eff9,
    200 : #d3e5f6,
    300 : #c1daf2,
    400 : #b3d2ef,
    500 : #a6caec,
    600 : #9ec5ea,
    700 : #95bde7,
    800 : #8bb7e4,
    900 : #7babdf,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #fcfdff,
    A700 : #e2f0ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-cxgreen: (
    50 : #e0f6e0,
    100 : #b3e9b3,
    200 : #80da80,
    300 : #4dcb4d,
    400 : #26bf26,
    500 : #00b400,
    600 : #00ad00,
    700 : #00a400,
    800 : #009c00,
    900 : #008c00,
    A100 : #b8ffb8,
    A200 : #85ff85,
    A400 : #52ff52,
    A700 : #39ff39,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);




$kanban-primary: mat.define-palette($md-cxblue);
$kanban-accent: mat.define-palette($md-cxgreen, A200, A100, A400);

// The warn palette is optional (defaults to red).
$kanban-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
// $kanban-theme: mat.define-light-theme((
$kanban-theme: mat.define-dark-theme((
  color: (
    primary: $kanban-primary,
    accent: $kanban-accent,
    warn: $kanban-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($kanban-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100vh; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
